body{
  background: black;
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
  margin: 0;
}

button{
  font-family: inherit;
  border-radius: 10px;
}

.top_layer{
  position: fixed;
  z-index: 10;
}

#scans{
  position: fixed;
  top: 1vw;
  left: 1vw;
  font-size: 4vw;
  margin: 10px;
}

#tip_button{
  position: fixed;
  top: 8vw;
  left: 1vw;
  font-size: 4vw;
  margin: 10px;
}

.w3-container{
  background-color: rgba(255, 255, 255, 0.2);
  width: 85%;
  padding: 10px;
}

#id01{
  display: none;
  position: fixed;
}

#page_title{
  text-align: center;
  font-size: 6vw;
}

#tel{
  position: fixed;
  bottom: 10%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  left: 50%;
  font-size: 4vw;
}

#logo{
  position: fixed;
  bottom: 3%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  left: 50%;
  font-size: 6vw;
  font-weight: bold;
}

/* #level{
  position: fixed;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  left: 50%;
  display: flex;
  flex-direction: row;
  font-size: 4vw;
}

#level_text{
  padding-right: 1vw;
} */

canvas {
  display: block;
}
